{% extends 'base.html' %}
{% block body %}
<div style="text-align:left">
<a class="btn btn-primary" href="{% url 'movieapp:add_movie' %}">Add Movie</a>
    </div>
<div class="container" >
    <div class="row" >
        {% for i in movie_list %}
        <div class="col-md-4" ><br>
            <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="210px" height="275px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>

    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>

</div>



{% endblock %}